@media screen and (min-width: 600px ) {
 main{
     .container{
        
        .imagen-2{
            padding: 20px 0px;
            margin: 10px 30px;
        }
        .div-texto2{

        }
        .mapa{
            padding: 10px 0px 0px 0px;
            display: block;
            iframe{
            @include width-height (100%, 100%);
        }
            
        }
        
        .ubi-mapa {
        display:flex;
        flex-direction: column;
        justify-content:flex-end;
        margin: 0px;
        padding: 10px 0px;
      }
    }
 }
}
footer{
    border-top: 1px solid whitesmoke;
 }
