@import "../abstracts/mixins";
@import "../abstracts/var";
//*index*//
main {
  margin: 0px;
   .container {
      padding: 20px 20px;
      @include width-height(100%, auto);
      border-bottom: 1px solid black;
    }
    .imagen {
      padding: 10px 30px;
     
      
      img{
        @include width-height(100%, 100%);
      }
    }
    .div-texto1 {
      display: flex;
      flex-direction: column;
      justify-content:flex-end;
      text-align: center;
      padding: 30px 20px;
      

      h1 {
        padding: 10px;
        margin-bottom: 10px;
        text-transform: $text-uppercase;
      }
    }
  
    .imagen-2{
      padding: 10px 30px;
       img{
        @include width-height(100%, auto)
       }
    }

    .div-texto2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0px;
      text-align: center;
    border-bottom: 1px solid whitesmoke;
      h2 {
        text-transform: $text-uppercase;
      }
    }
    .mapa {
      display: none;      
    }
  
    .ubi-mapa {
      display:none;
      padding-left: 15px;
    }
  }