//color de tipografia
$color-typography:whitesmoke;
//backgraound color
$bg-header:#ffff;
//bg-body
$bg-body: black;
//ul gap
$bg-nav:#92B868;
//ul-gap
$ul-gap:20px;
//display none
$display-none: none;
//box-shadow
$box-shadow: 5px 2px 20px yellowgreen;
//font-size
$font-size:10px;
//list-none
$list-style:none;
//text-shadow
$text-shadow: -1px -1px yellowgreen;
//color para los elementos li
$color-typography-li:salmon;
//uppercase
$text-uppercase:uppercase;