@mixin grid-body{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    color:$color-typography;
    background-color:$bg-body;
}


//anchos y altos
@mixin width-heigth($width, $height){
    width:$width;
    height:$height;
}

//mixin para los column
@mixin grid-col-row{
    grid-column:1/7;
    grid-row:auto;
}
//header
@mixin flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-header;
    color: $color-typography;
    padding: 10px;
    box-shadow: $box-shadow;

}

//main-container

@mixin aling-justify($aling, $justify){
    align-content:$aling;
    justify-content:$justify;
}


@mixin flex-main-container{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
//main-h1
@mixin h1{
    text-align:$text-aling;
    padding:10px;
    margin-bottom:10px;
    text-transform:uppercase;
}

//footer
@mixin footer{
    @include grid-col-row;
    padding: 50px;  
    color:$color-typography;
    box-shadow:$box-shadow;
    margin: 100px 10px 100px 10px;
}
//footer-container
@mixin footer-container{
    @include flex-main-container;
    flex-direction:$flex-column;
   padding: 10px;
}

@mixin nav{
    @include flex-main-container;

}