//color de tipografia
$color-typography:whitesmoke;
//backgraound color
$bg-header:#ffff;
//elementos a
$text-decoration:none;
//ul gap
$ul-gap:20px;
//text aling 
$text-aling: center;
//display none
$display-none: none;
//box-shadow
$box-shadow: 5px 2px 20px yellowgreen;
//footer-column
$flex-column: column;
//font-size
$font-size:10px;
//bg-body
$bg-body: black;
//list-none
$list-style:none;
//text-shadow
$text-shadow: -1px -1px yellowgreen;