@import "../abstracts/mixins";
@import "../abstracts/var";
header{
   grid-column: 1/7;
   grid-row: 1/2;
   @include header;
   background-color:$bg-header;
   color:$bg-body;
   margin: 10px 100px;
   padding:10px;
   border-radius: 20px;
    .header-img {
      @include width-height (20%, auto);
      a{
      img{
        @include width-height (100%, auto ); 
      }
    }
    }

    
  //navbar
    nav{
    @include width-height (100%, auto);
      display: flex;
      justify-content:center;
      align-content: center;
      border-radius: 10px;
      color:$bg-body;
    
        ul{
          :hover{
            background-color:#E3D3CF;
            border-radius: 10px;
          }
          padding: 10px 10px;
            gap:$ul-gap;
            list-style:$list-style;

              a{  
                  padding: 10px;
                  text-decoration: none;
                }
            
        }
    }
 
} 